<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="css/main.css">

    <title>Document</title>
</head>

<body>
    <div class="div-headings-outer">
        <div class="uk-container">
            <div class="div-headings-inner">
                <h1 class="uk-heading-large heading-bold heading">Make Every&shy;thing! </h1>
                <h1 class="uk-heading-small heading">That you ever want!</h1>
            </div>
        </div>
    </div>
    <div class="uk-container">


        <div class="todo-wrapper">
            <div class="todo-navbar">
                <span class="navbar__id navbar__item">Id</span>
                <span class="navbar__descr navbar__item">Description</span>
                <hr class="uk-divider-icon">
            </div>

            <div id="todoApp">                             
                <button 
                    class="uk-button uk-button-default btn" 
                    type="button" 
                    id="beforeBtn"  
                    uk-toggle="target: #modal" 
                    v-on:click="chooseStart('beforeBtn')">Add Before
                </button>

                <ul class="uk-list uk-list-divider todo-list">          
                    <todo-item 
                        v-for="item in todoList" 
                        v-bind:todo="item">
                    </todo-item>
                </ul>

                <button 
                    class="uk-button uk-button-default btn" 
                    type="button" 
                    id="beforeBtn"  
                    uk-toggle="target: #modal" 
                    v-on:click="chooseStart('afterBtn')">Add After
                </button>

                <!-- This is the modal -->
                <div id="modal" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">Enter what do you need to do:</h2>   
                        <input class="uk-input" type="text" placeholder="ToDo" v-model="newTodo.text">                 
                        <p class="uk-text-right">
                            <button 
                                class="uk-button uk-button-default uk-modal-close" 
                                type="button">Cancel
                            </button>
                            <button                               
                                class="uk-button uk-button-primary" 
                                type="button"
                                uk-toggle="target: #modal"
                                v-on:click="addTodo" 
                                :disabled="newTodo.text < 3">{{ btnName }}
                            </button>                                 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>












    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>